#accEdit{
	position: absolute;
	width: 36%;
	height: 40%;
	background: #647398;
	left: 32%;
	top: 20%;
	/*display: none;*/
	z-index: 2;
}
#accEdit p{
	font-size: 30px;
}
#accEdit select{
	height: 30px;
	font-size: 15px;
}
#hr1{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 15%;
}
#hr2{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 70%;
}
#lab1{
	position: absolute;
	left: 15%;
	top:30%;
}
#lab2{
	position: absolute;
	left: 15%;
	top:45%;
}
#create{
	position: absolute;
	top: 85%;
	left: 50%;
}

#cancel{
	position: absolute;
	top: 85%;
	left: 25%;
}