#addInType{
	position: absolute;
	width: 36%;
	height: 35%;
	background: #647398;
	left: 32%;
	top: 20%;
	display: none;
	z-index: 2;
}

#addInType #hr1{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 25%;
}
#addInType #hr2{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 60%;
}
#addInType p{
	font-size: 30px;
}
#addInType #lab{
	position: absolute;
	left: 15%;
	top: 35%;
}
#addInType #create{
	position: absolute;
	top: 80%;
	left: 50%;
}

#addInType #cancel{
	position: absolute;
	top: 80%;
	left: 25%;
}